body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f3657d, #ff7eb4d7, #ff7eb4a2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    color: white;
}

.dashboard-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(128, 128, 128, 0.603);
    width: 500px;
    height: 300px;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    background: #ff5277;
    color: white;
    padding: 15px 25px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover {
    background: #d94560;
}
