body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background: linear-gradient(135deg, #6b11cb9c, #25adfca4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #faf8f844;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
    width: 400px;
    height: 500px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

input {
    width: 100%;
    padding: 10px;
    margin-left: -10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 15px;
    transition: 0.3s;
}

input:focus {
    border-color: #28a745;
    box-shadow: 0 0 8px rgba(40, 167, 70, 0.678);
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

p {
    margin-top: 15px;
    font-size: 18px;
}
